---
// Astro
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// layouts
import MainLayout from "../../layouts/MainLayout.astro";
import SectionContainer from "../../layouts/SectionContainer.astro";

// components
import Tags from "../../components/Tags.astro";

// images
import avator from "../../images/thabo.png"

// Format date function
import { formatDate } from "../../utils";

import { getEntry } from "astro:content";

const { slug } =  Astro.params

if(slug === undefined) {
  throw new Error('Slug is required')
}

const entry = await getEntry('blog', slug)

if(entry === undefined) {
  return Astro.redirect('/404')
}

const { Content } = await entry.render()

---
<MainLayout title={entry.data.title}>

  <SectionContainer>

    <nav class="text-sm md:text-lg my-8">
      <ol class="list-none inline-flex">
        <li class="flex items-center">
          <div class="flex items-center">
            <a href="/" class="text-neutral-400">Home</a> 
            <span class="mx-1"> > </span>
          </div>
        </li>
        <li class="flex items-center">
          <div class="flex items-center">
            <a href="/articles" class="text-neutral-400">News</a> 
            <span class="mx-1"> > </span>
          </div>
        </li>
        <li class="flex items-center">
          <div class="flex items-center">
            <span class="w-[200px] md:w-full truncate font-semibold text-siteYellow ">{entry.data.title}</span>
          </div>
        </li>
        <li>
         
        </li>
      </ol>
    </nav>

    <div class="relative h-[220px] w-full overflow-hidden rounded-md md:h-[350px] lg:h-[418px] lg:rounded-lg">
      <Image src={entry.data.image} alt="po" class="object-cover object-top"/>
    </div>

    <div>

      <h1 class="text-[36px] leading-[40px] lg:text-[56px] lg:leading-[68px] text-siteYellow font-bold my-12">{entry.data.title}</h1>
      <div class="my-10">
        <span class="inline-block text-gray-800 text-lg mr-1">{formatDate(entry.data.pubDate)}</span> | <span class="inline-block font-bold text-lg text-siteYellow ml-1">{entry.data.author}</span>
      </div>
  
      <main>
        <Content />
      </main>

      <div class="flex gap-2 mt-10">
        <Icon name="ri:price-tag-3-fill" class="text-2xl text-gray-800" />
        <Tags tags={entry.data.tags}/>
      </div>

      <div class="p-6 text-center lg:text-left lg:px-12 lg:py-8 my-10 rounded-md bg-gray-900 lg:w-[60%] border-b-8 border-r-8 border-t-8 border-siteYellow">
        <div class="mb-6 lg:flex lg:flex-col lg:justify-end">
          <h3 class="text-3xl mb-2 text-siteYellow">Meet The Author</h3>
          <h6 class="text-lg tracking-widest text-siteYellow">Thabo Peter</h6>
        </div>
        <div class="lg:flex lg:gap-14 lg:pt-3 lg:pb-10">
          <p class="text-gray-100">Thabo is a seasoned football writer with a passion for the beautiful game. With over 5 of experience, he covers everything from local leagues to international tournaments, providing insightful analysis and compelling narratives for fans around the world. When not reporting on football, Thabo enjoys playing the game and exploring new stadiums. Follow him on social media platform to stay updated on the latest in football.</p>
          <Image src={avator} alt="author" class="my-6 rounded-full w-52 h-52 object-cover mx-auto"/>
        </div>
        <div class="pt-3">
          <span class="space-x-3">
            <a href=""
              ><Icon
                name="ri:facebook-fill"
                class="inline-block text-siteYellow"
              /></a
            >
            <a href=""
              ><Icon
                name="ri:instagram-line"
                class="inline-block text-siteYellow"
              /></a
            >
            <a href=""
              ><Icon
                name="ri:twitter-x-line"
                class="inline-block text-siteYellow"
              /></a
            >
          </span>
        </div>
        
      </div>

    </div>

  </SectionContainer>

  <style is:global>
    
    h2 {
      margin: 20px 0px;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1px;
      color: #f0b71c;
    }

    h1 {
      
    }

    p {
      font-size: 18px;
      line-height: 28px;
      color: #1f2937;
    }

    .truncate {
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
    }

  </style>

</MainLayout>